body {
    box-sizing: border-box;
}

.gallery {
    width: 80%;
    margin: 10px auto;
}

.gallery img {
    width: 200px;
    height: 150px;
    padding: 15px;
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}